.footer {
    width: 100%;
    border-top: 1px solid #D9FFF5;

    &__inner-wrapper {
        background-color: $background;
        padding: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 16px;

        @media (min-width: $screen-m) {
            padding: 32px 24px 25px 24px;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }

        @media (min-width: $screen-m) {
                padding: 32px 32px 21px 32px;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                gap: 35px;
            }

    }

    &__info-item {
        @include text-design($weight: 500,$size: 14px, $line-height: 16px, $letter-spacing: 0, $color: $active-text);
        text-align: center;
        max-width: 97%;

        @media (min-width: $screen-m) {
            max-width: 25%;
        }

        &_left {

            @media (min-width: $screen-m) {
                text-align: left;
            }
            
        }

        &_right {
            
            @media (min-width: $screen-m) {
                text-align: right;
            }
        }
    }
    
}