$main-color: #FF3E79;
$hover-color: #ffdde7;
$main-text: #1B1C21;
$active-text: #7E7E82;
$highlight: #41F6D7;
$border-active-item: #B8FFEC;
$background: #F8F8F8;

$gradient-title: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);

$font-family: TTLakes, sans-serif;

$screen-s: 320px;
$screen-m: 768px;
$screen-l: 1440px;

